body{
    background-image: url("../imagens/fundo2.jpg");
    background-size: cover;
}
p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 40px;
  text-align: center;
}


 
#rodape2{
    background-color: lightgray;
    height: 100px;
    padding-top: 40px;
    text-align: center;
    margin-top: 600px;
    clear: both;
}
h3{
    
    text-align: center;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: upper-roman;
    align-items: center;
    padding: 16px;
}
a{
    color: black;
text-decoration: none;

}
nav a:hover{
    color: black;
}
.inicio{
    background-color: lightgray;
    padding: 0%;
    margin: 0%;
    width: 1895px;
    height: 90px;
}
#perf{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}
#perf2{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
}